@model UserRolesViewModel
@{
    ViewData["Title"] = "AddRolesToUser";
}


<div class="row">
    <div class="col-md-6 offset-3">
        <div class="card card primry">
            <div class="card-header">
                <h3 class="card-title">Manage @Model.UserName Roles</h3>
            </div>
            <form method="post">
            <div class="card-body">
                 <input type="hidden" asp-for="UserId" />
               @*@foreach (var role in Model.Roles)
                {
                    <div class="custom-control custom-checkbox">
                        <input type="hidden" asp-for="@role.RoleName" />
                        <input class="custom-control-input" type="checkbox" asp-for="@role.IsSelected" />
                        <label asp-for="@role.IsSelected" class="custom-control-label">@role.RoleName</label>
                    </div>
               // }*@

                 @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.Roles[i].RoleName" />
                    <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model.Roles[i].IsSelected">
                        @Model.Roles[i].RoleName
                    </label>
                </div>
            }
                  <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-success">Submit</button>
                <button class="btn btn-secondary">cancel</button>
            </div>
            </form>
        </div>
    </div>
</div>

