@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "UsersList";
}

<div class="row">

    <div class="col-md-12 ">
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success"> user roles is updated successfully </div>
        }
        <a asp-action="AddUser" asp-controller="UserManagement" class="btn btn-info mb-4">Add User</a>
        <br />
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Users Table</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>UserName</th>
                            <th>Email</th>
                            <th>FirstName</th>
                            <th>LastName</th>
                            <th>Roles</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.Email</td>
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td> @string.Join(" , " , @user.Roles.ToList())</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="UserManagement" asp-action="AddRolesToUser" asp-route-userId="@user.Id">roles</a>
                                    <a class="btn btn-outline-info" asp-controller="UserManagement" asp-action="EditUser" asp-route-userId="@user.Id">Edit</a>

                                    <a class="btn btn-danger delete-btn" data-id="@user.Id">Delete</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $(".delete-btn").on("click", function() {
                let btn = $(this);
                bootbox.confirm({
                    message: "Are You sure you want to delete this user?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-secondary'
                        }
                    },
                    callback: function(result) {
                        let id = btn.data("id");
                        if (result == true) { 
                        $.ajax({
                            url: "/api/users/?userId=" + id,
                            method: "DELETE",
                            success: function(data) {
                                $(document).Toasts('create', {
                                    class: 'bg-success',
                                    title: 'Users',
                                    body: 'user is deleted successfully'
                                });

                                setTimeout(() => { window.location.reload() }, 2000)
                            },
                            error: function(error) {
                                console.log(error)
                            }
                        });
                    }
                    }
                });
            })
        })
    </script>
}